:root{
    --primary : #0477BF;
    --secondary : #461973;
}


body{
    font-family: 'Inter', sans-serif!important;
}
.bg-primary{
    background-color: var(--primary);
}

.container-fluid {
    padding : 0 100px;
}

.navbar-brand > .logo{
    height: 20px;
    width: auto;
    align-content: center;
    align-items: center;
}

.dashboard-title{
    margin: 0;
    padding: 0;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    font-size: 12pt;
    color: white;
}

.profilebtn{
    color: rgb(161, 200, 255);
    font-size: 16pt;
}

.profilebtn:hover{
    color: rgb(208, 227, 255);
}

.page{
    
}

.container{
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.sidebar{
    height: calc(100vh - 71px);
    padding: 0;
    background-color: rgb(240, 238, 238);
    width: 50px;
}

.sidebar-item:hover{
    background-color: rgb(212, 212, 212);
}

.sidebar-item{
    height : 60px!important;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    transition: .25s ease-in-out;
}

.sidebar-item *{
    font-size: 14pt;
    color: rgb(126, 126, 126);
    transition: .15s ease-in-out;
}

.sidebar-item:hover *{
    color: rgb(61, 61, 61);
}


.sidebar a {
    text-decoration: none;
}


.stage{
    min-height: calc(100vh - 71px);
}

.card{
    border-radius: 0!important;
}

.btn{
    border-radius: 0!important;
    border: solid 1px rgb(6, 40, 70)!important;
}

.part-form label {
    width: 200px;
}

.btn-primary {
    background-color: var(--primary);
}

.form-check-input{
    border-radius: 0!important;
    outline: 1px solid black!important;
}

.actions{
    row-gap: 10px;
    column-gap: 10px;
}

.part-form{
    display: flex;
    align-content: center;
    align-items: center;
    column-gap: 50px;
    text-align: center;
}

.part-form button {
    margin-top: 20px;
}

.form-control{
    border: 1px solid rgba(0, 0, 0, 0.322)!important;
    border-radius: 0!important;
}

.tambahkan{
    padding: 20px 0;
    border: 0!important;
}

.card.row *{
    padding: 0;
}