:root{
    --primary : #0477BF
}
body{
    font-family: 'Inter', sans-serif!important;
    margin: 0;
}
.navbar{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    height: 50px;
    flex-grow: 1;
}
.nb-brand{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;

}
.bar{
    display: flex;
    height: 50px;
    padding-bottom: 10px;
    flex-direction: row;
}
.nb-brand img{
    height: 40px;
}
.nb-brand h4{
    font-size: 14pt;
    padding-left: 10px;
    margin: 0;
    height: fit-content;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    row-gap: 10px;
}
.nav .nav-item{
    margin: 0 10px;
    color: black;
    text-decoration: none;
}
.nav .nav-item:hover{
    font-weight: bold;
}
.search{
    width: 50px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    text-decoration: none;
}

.jumbotron{
    height: calc(100vh - 85px);
    margin: 10px 0;
    display: flex;
}

.featured{
    height: calc(100vh - 85px);
    display: flex;
    padding: 10px 20px;
    flex: 3;
    color: white;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.7) 1%, rgba(0,0,0,0) 99%), url('https://picsum.photos/seed/blossom/1920/1080');
}
.featured-title{
    font-size: 12pt;
}

.current-featured-nt{
    max-width: 50%;
}

.current-featured-nt a{
    font-size: 24pt;
    padding: 5px 10px;
    background-color: black;
    color: white;
    text-decoration: none;
    transition: .1s ease-out;
}

.current-featured-nt > a > i {
    font-size: 15pt;
    transition: .1s ease-out;
}


.current-featured-nt:hover > a > i {
    font-size: 20pt;
}

.current-featured-nt:hover a{
    font-weight: bold;
}

.liston{
    flex: 1;
    padding: 10px 25px;
    min-width: 400px;
    height: calc(100vh - 85px);
    background-color: #461973;
}

.lon-sbtl{
    font-weight: lighter;
    color: white;
    font-size: 12pt;
}

.news-list{
    padding: 10px 0;
    overflow-y: scroll;
    height: calc(100vh - 170px);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.news-list::-webkit-scrollbar{
    display: none;
}

.news-card{
    background-image: linear-gradient(to left, rgba(0,0,0,1) 10%, rgba(0,0,0,0.4) 90%), url("https://picsum.photos/1920/1080");
    padding: 50px 50px;
    background-size: cover;
    font-size: 14pt;
    margin-bottom: 30px;
}

.news-card a{
    color: white;
    text-decoration: none;
    transition: .1s ease-out;
}

.news-card:hover{
    font-weight: bold;
}

 .news-card a > i{
    font-size: 10pt;
}

.news-card:hover i {
    font-size: 15pt;
}

/** Page 2 */
.body{
    padding: 80px 30px;
  height: 70vh;
    vertical-align: center;
    display: flex;
}

.body > *{
    margin: 0 20px;
}

.listoevent{
    flex: 1;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

.listoevent::-webkit-scrollbar{
    display: none;
}

.eventitem a{
    display: flex;
    flex-direction : row;
    margin: 30px 0;
    padding: 20px 0;
    row-gap: 20px;   
    font-weight: 100;
    color: black;
    text-decoration: none;
}


.eventitem h2{
    font-weight: 500;
}

.eventitem a > *{
    margin : 0px 12px;
}

.eventitem .pict{
    object-fit: cover;
    height: 120px;
    width: 130px;
}

.eventitem a > div{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-content: center;
}

.eventitem .event-title {
    font-size: 16pt;
    margin: 0;
}

p.event-title{
    transition: .1s ease-out;
}

.eventitem:hover p.event-title{
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.eventitem p > i {
    font-size: 12pt;    
}

.eventitem:hover i.bi-arrow-up-right {
    font-size: 18pt;
}


.aboutcat{
    flex: 1;
}

.date{
    font-size: 12pt;
}

@media (max-width : 1600px)  {
    .categories{
        grid-template-columns: 1fr!important;
    }
}

@media (max-width : 1700px) and (min-width : 1650px) {
    .categories{
        grid-template-columns: 1fr 1fr!important;
    }    
}

.categories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 30px;
    height: 60vh;
    row-gap: 30px;
    overflow-y: scroll;
    margin-top: 50px;
    overflow-y: scroll;
}

.categories::-webkit-scrollbar{
    display: none;
}

.categories a {
    text-decoration: none;
}

.item-cat{
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-image: linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,0)), url('https://picsum.photos/seed/university/1920/1080');
    background-size: cover;
    background-position: center;
    padding : 10px;
    color: white;
}
.item-cat h2 {
    font-weight: 100;
    transition: .25s ease-in-out;
}

.item-cat:hover h2 {
    font-weight: bold;
}

.footer{
    display: flex;
    flex-direction: row;
    background-color: #461973;
    padding: 40px 50px ;
    justify-content: space-around;
    column-gap: 50px;
    row-gap: 50px;
}

.socialmediagraph{
    display: flex;
    flex-direction: row;
    font-size: 22pt;
    column-gap: 20px;
}

.socialmediagraph * {
    color: white!important;
}

.footer * {
    color: white;
}

.footer .infos p{
    font-size: 12pt;
}

.footer .infos{
    color: white;
    column-gap: 30px;
}

.footer .infos h2{
    margin-top: 0;
    margin-bottom: 15px;
}

.footer .brand{
    display: flex;
    justify-items: center;
    row-gap: 10px;
    column-gap: 20px;
    align-items: start;
    color: white;
}

.footer .location ul {
    list-style: none;
    padding: 0px 5px;
    margin: 15px 0px;
}

.footer .location ul li {
    margin: 5px 10px;
}

.footer .brand h1{
    margin: 0;
    font-size: 24pt;
}

.footer .brand > img {
    height: 55px;
}