:root{
    --primary : #0477BF
}
body{
    font-family: 'Inter', sans-serif!important;
    margin: 0;
}
.navbar{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    height: 50px;
    flex-grow: 1;
}
.nb-brand{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;

}
.bar{
    display: flex;
    height: 50px;
    padding-bottom: 10px;
    flex-direction: row;
}
.nb-brand img{
    height: 40px;
}
.nb-brand h4{
    font-size: 14pt;
    padding-left: 10px;
    margin: 0;
    height: fit-content;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    row-gap: 10px;
}
.nav .nav-item{
    margin: 0 10px;
    color: black;
    text-decoration: none;
}
.nav .nav-item:hover{
    font-weight: bold;
}
.search{
    width: 50px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    text-decoration: none;
}
/** Body */

.body{
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.body .group-prodi {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
}

@media (max-width : 800px) and (min-width : 599px) {
    .body .group-prodi {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width : 500px) and (min-width : 0px) {
    .body .group-prodi {
        display: grid;
        grid-template-columns: 1fr;
    }
}
.item-prodi {
    text-align: center;
    padding: 20px 20px;
    border-radius: 5px;
}

.item-prodi h3{
    margin-top: 0;
}

.item-prodi:hover img {
    width: 100%;
}

.item-prodi img {
    width: 80%;
    transition: .15s ease-in-out;
}

/** */

.footer{
    display: flex;
    flex-direction: row;
    background-color: #461973;
    padding: 40px 50px ;
    justify-content: space-around;
    column-gap: 50px;
    row-gap: 50px;
}

.socialmediagraph{
    display: flex;
    flex-direction: row;
    font-size: 22pt;
    column-gap: 20px;
}

.socialmediagraph * {
    color: white!important;
}

.footer * {
    color: white;
}

.group-fakultas{
    width: 80%;
    max-width: 1500px;
    margin: 50px 0;
}

.footer .infos p{
    font-size: 12pt;
}

.footer .infos{
    color: white;
    column-gap: 30px;
}

.footer .infos h2{
    margin-top: 0;
    margin-bottom: 15px;
}

.footer .brand{
    display: flex;
    justify-items: center;
    row-gap: 10px;
    column-gap: 20px;
    align-items: start;
    color: white;
}

.footer .location ul {
    list-style: none;
    padding: 0px 5px;
    margin: 15px 0px;
}

.footer .location ul li {
    margin: 5px 10px;
}

.footer .brand h1{
    margin: 0;
    font-size: 24pt;
}

.footer .brand > img {
    height: 55px;
}

/** the biggest title ever */
.jumbotron{
    padding: 50px 0;
    margin-top: 10px;
    text-align: center;
    background-color: rgb(224, 224, 224);
}

.intermeso{
    height: 100vh;
    background-color: aliceblue;
}

.fixed-top{
    z-index: 999;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
}

.detail{
    display: none;
}